body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;

}
 header, main, footer {
      background-color: #f0f0f0;
      border: 1px transparent #ccc;
      padding: 20px;
      margin: 5px;
    }

.inlineNav{
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    text-align: center;
    display: flex;                  /* On active Flexbox */
    padding:16px ;
    flex-direction: row;
    
}
.inlineNav a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  font-size: 18px;
  padding: 8px 12px;
  align-items: flex-end;
  justify-content: center;

  border-radius: 4px;
}
/*a {
    padding : 20px ;
    top :0%;
}*/
.inlineNav a:hover {
  background-color: #555;
  color: #ffcc00;
}

 .card-container {
      display: flex;
      gap: 60px;
      padding: 20px;
      flex-shrink: 1;
      flex-wrap: wrap;
    }

    .card {
      border: 1px solid #ccc;
      padding: 30px;
      width: 150px;
      background-color: #59dc0d;
      border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        text-align: center;

    }
    .card img {
      max-width: 100%;
      border-radius: 5px;
    }
    .card button:hover {
  background-color: #555;
}
    .card button{
      font-size: 20px;
      color: #ffcc00;
      border: radius 5px;
           border-radius: 5px;
           border: 0;

   }




   .vertical-menu {
  width: 200px;
  background-color: #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.vertical-menu a {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ddd;
  text-decoration: none;
  color: #333;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092?auto=format&fit=crop&w=1600&q=80');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(17, 207, 52);
  position:relative;
 
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-content {
  position: relative;
  z-index: 1;
  max-width: 100%;
}
.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #45b043;
}